@model List<GetPersonHumanResourceQueryResult>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container" style="margin-top:50px">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Şehir</th>
            <th>Departman</th>
            <th>Telefon</th>
            <th>Mail</th>
            <th>Detaylar</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PersonID</td>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.City</td>
                <td>@item.Department</td>
                <td>@item.Phone</td>
                <td>@item.Mail</td>
                <td><a href="/Person/GetPerson/@item.PersonID" class="btn btn-outline-dark">Detaylar</a></td>
            </tr>
        }
    </table>
</div>